body {
    background-color:#151A23;
    color: #F3F3F4;
      font-family: 'Inter', system-ui, -apple-system, BlinkMacSystemFont,
               'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
    margin: 30px;

}

h1, h2, h3, p {
    text-align: justify;
    text-justify: inter-word;
}

.overview {
  display: flex;
  align-items: flex-start; /* aligns image with paragraph top */
  gap: 32px;
}

.overview-text {
  max-width: 800px;
}

.overview-image {
  width: 220px;
  height: 220px;
  margin-left: auto;
  margin-top: 4rem;
  border: 2px solid #3065B0;
  border-radius: 5px;
}